[Unit]
Description=Run disk info, system info & file system info scripts. these scripts are present in /usr/local/bin
After=network.target

[Service]
ExecStart=/usr/local/bin/run_all.sh
Restart=always

[Install]
WantedBy=multi-user.target