[Unit]
Description=Run system info service every 5 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
Unit=system_info.service

[Install]
WantedBy=timers.target 